{% extends 'home/base.html' %}

{% block content %}
    <h1>Danh sách các giáo viên đăng ký đang chờ xét duyệt</h1>

    <div>
        Số lượng giáo viên đang đợi duyệt: {{ waiting_teachers | length }}
    <div>
    
    {% for teacher in waiting_teachers %}
    <div>
        <ul>
            <li>Tên: {{ teacher.last_name }} {{ teacher.first_name }}</li>
            <li>Email: {{ teacher.email }}</li>
            <li>Giới tính: {{ teacher.userprofle.get_gender_display }}</li>
            <li>Nghề nghiệp: {{ teacher.userprofle.profession }}</li>
            <li>Nơi công tác: {{ teacher.userprofle.department }}</li>
            <p>{{ teacher.userprofile.bio }}</p>
            <div>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="teacher_username" value="{{ teacher.username }}"/>
                    <input type="submit" name="req_approve" value="Đồng ý">
                    <input type="submit" name="req_disaprv" value="Từ chối">
                </form>
            </div>
        </ul>
        <hr>
    </div>
    {% endfor %}
{% endblock %}