{% load static %}
<html>
    <head>
        <title>Netaholi</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Trang chủ</a></li>
            {% if request.user.is_authenticated %}
                {% if not request.user.is_staff %}
                    <li><a href="">Các khóa học của tôi</a></li>
                {% else %}
                    <li><a href="{% url 'manager_home' %}">Đi đến trang quản trị</a></li>
                {% endif %}

                Xin chào, {{request.user.first_name}}! <a href="{% url 'logout' %}">Đăng xuất</a>
            {% else %}
            <li><a href="{% url 'login' %}">Đăng nhập</a></li>
            {% endif %}
            <hr>
            </ul>
        </nav>
        
        {% include 'home/render_messages.html' %}
        {% include 'home/render_form_errors.html' %}

        {% block content %}

        {% endblock content %}
    </body>

    {% block script %}
    {% endblock script %}
</html>