{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <h1>Welcome to Netaholi</h1>
    <h2>Đây là các khóa học có trong hệ thống</h2>

    {% for course in courses %}
        <h3><a href="{% url 'details' course.id %}">{{course.name}}</a></h3>
        <img src="{{course.image_url}}">
        <ul>
            <li>Loại khóa học: {{course.ctype}}</li>
            <li>Ngày bắt đầu: {{course.start_date}}</li>
            <li>Trạng thái: {{course.get_status_display}}</li>
            <li>Loại khóa học: {{course.ctype}}</li>
            <li>Học phí: {{course.tuition_fee}}</li>
            <li>Mô tả:
                <p>{{course.description}}</p>
            </li>
            <li>Lịch trình:
                <p>{{course.schedule}}</p>
            </li>
        </ul>
    {% endfor %}
{% endblock content %}


