{% extends "home/base.html" %}

{% block content %}
    <div>
        <h1>{{course.name}}</h1>
        <img src="data:image/png;base64,{{ course.get_base64_image }}" alt="Ảnh minh họa {{ course.name }}">
        <ul>
            <li>Trạng thái: {{course.get_status_display}}</li>
            <li>Lịch trình:
                <p>{{course.schedule}}</p>
            </li>
        </ul>
        <a href="{% url 'lesson' course.id %}">Tham gia buổi học</a>
    </div>

    <div>
        <h2>Tài liệu</h2>
        <ul>
        {% for material in materials %}
            {% if material.type == 'document' %}
                <li><a href="{% url 'material' course.id material.id %}">{{ material.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Bài tập</h2>
        <ul>
        {% for material in materials %}
            {% if material.type == 'assignment' %}
                <li><a href="{% url 'material' course.id material.id %}">{{ material.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}